<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHPY0ES3ROVwG_s3981pdZbDCzhE6b0XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>157331009198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marvelAnimationApp</string>
	<key>PROJECT_ID</key>
	<string>marvelapp-d8a53</string>
	<key>STORAGE_BUCKET</key>
	<string>marvelapp-d8a53.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157331009198:ios:71365caffd08cd6469473f</string>
</dict>
</plist>